@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #FFFFFF;
  font-size: 2rem;
  color: #000000;
  font-family: sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.headerNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem 10rem;
}
.headerNavigation__logo a {
  text-decoration: none;
  color: #FF00E6;
  font-weight: 700;
  font-size: 150%;
  padding: 1rem 0.4rem;
}
.headerNavigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.headerNavigation__menu li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  padding: 0.6rem 1rem;
  font-size: 1.8rem;
  transition: 0.2s all;
}
.headerNavigation__menu li a:hover {
  background: #E62686;
  color: #FFFFFF;
}

.current_page_item a {
  background: #E62686;
  color: #FFFFFF !important;
}

.menu-item-162 a {
  border: 0.2rem solid #FF00E6;
  height: 4rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF00E6;
  color: #FFFFFF !important;
  font-weight: 600 !important;
  font-size: 110% !important;
  transition: 0.2s all;
}
.menu-item-162 a:hover {
  background: #FFFFFF !important;
  color: #FF00E6 !important;
}

.main {
  width: 100%;
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.post-7 .post__title {
  display: none;
}

.post-7 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 250%;
  padding: 2rem;
}

.heading {
  width: 100%;
}
.heading div {
  width: 100%;
}

.home__heading {
  position: relative;
}
.home__heading--title > div > h2 {
  position: absolute;
  bottom: 0;
  left: 10%;
}

.heading__image {
  width: 100%;
  height: 40rem;
}
.heading__image--banner {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}

.main__home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__home > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.home__summary--wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home__summary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110%;
  font-family: "Inter", sans-serif;
  padding: 1rem 34rem;
}

.home__students {
  font-weight: 600;
  padding: 1rem 34rem;
}

.home__information {
  padding: 1rem 34rem;
}

.home__image {
  width: 80%;
  height: 30rem;
}
.home__image > img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.searchandfilter {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 95%;
  padding: 4rem;
  border-right: 0.2rem solid #F1F1F1;
}
.searchandfilter > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 4rem;
}
.searchandfilter > div > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8rem;
  width: 100%;
  height: 100%;
}
.searchandfilter > div > ul > li:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #000000;
  padding: 1rem;
}
.searchandfilter > div > ul > li:nth-child(1) > select {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 100%;
  padding: 0.8rem;
}
.searchandfilter > div > ul > li:nth-child(1) > select:focus {
  outline: 0.2rem solid #FF00E6;
}
.searchandfilter > div > ul > li:nth-child(1) > select > option:nth-child(1) {
  display: none;
}
.searchandfilter > div > ul > li:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.searchandfilter > div > ul > li:nth-child(2) > input {
  background: #FF00E6;
  border: 0.2rem solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 100%;
  width: 100%;
  padding: 0.8rem 1rem;
}
.searchandfilter > div > ul > li:nth-child(2) > input:hover {
  cursor: pointer;
  background: #FFFFFF;
  border: 0.2rem solid #FF00E6;
  color: #FF00E6;
}

.main__posts {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
  padding: 0;
  gap: 0;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 4rem;
}
.posts__title {
  font-size: 150%;
}

.post {
  background: #F1F1F1;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 55rem;
}
.post__title a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}
.post__title a:hover {
  color: #FF00E6;
}
.post__category {
  color: #FFFFFF;
  padding: 1rem;
}
.post__category--sd {
  background: #C80036;
}
.post__category--gd {
  background: #088395;
}
.post__image {
  width: 100%;
}
.post__content img {
  width: 45rem;
  height: 100%;
  object-fit: cover;
}

.main__project {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.project__content {
  position: relative;
  width: 100%;
}
.project__content > img {
  width: 100%;
  height: 45rem;
  object-fit: cover;
}
.project__title {
  position: absolute;
  bottom: 0;
  left: 25%;
  font-size: 250%;
}
.project > article {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
  background: none;
}
.project__information {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 1rem 10rem;
}
.project__information--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.project__information--author a {
  text-decoration: none;
  color: #000000;
}
.project__information--date {
  font-size: 90%;
}
.project__information--category a {
  text-decoration: none;
  color: #000000;
}
.project__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__content p:nth-of-type(2) {
  width: 80%;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 900;
}
.nav-links a:hover {
  color: #FF00E6;
}

.post-122 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
}
.post-122 .post__title {
  display: none;
}

.usp-name, .usp-url, .usp-title, .usp-category, .usp-custom, .usp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.usp-name > label, .usp-url > label, .usp-title > label, .usp-category > label, .usp-custom > label, .usp-content > label {
  display: none !important;
}
.usp-name > input, .usp-name select, .usp-name textarea, .usp-url > input, .usp-url select, .usp-url textarea, .usp-title > input, .usp-title select, .usp-title textarea, .usp-category > input, .usp-category select, .usp-category textarea, .usp-custom > input, .usp-custom select, .usp-custom textarea, .usp-content > input, .usp-content select, .usp-content textarea {
  background: none;
  border: none;
  padding: 0.2rem 0rem;
  font-size: 100%;
  border-bottom: 0.2rem solid #FF00E6;
  font-family: inherit;
}
.usp-name > input:focus, .usp-name select:focus, .usp-name textarea:focus, .usp-url > input:focus, .usp-url select:focus, .usp-url textarea:focus, .usp-title > input:focus, .usp-title select:focus, .usp-title textarea:focus, .usp-category > input:focus, .usp-category select:focus, .usp-category textarea:focus, .usp-custom > input:focus, .usp-custom select:focus, .usp-custom textarea:focus, .usp-content > input:focus, .usp-content select:focus, .usp-content textarea:focus {
  outline: none;
}
.usp-images #usp-upload-message {
  display: none !important;
}
.usp-images #user-submitted-image {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.usp-images #user-submitted-image > input[type=file]::-webkit-file-upload-button {
  background: #FF00E6;
  border: 0.2rem solid #FFFFFF;
  padding: 0.9rem;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 100%;
  transition: 0.2s all;
}
.usp-images #user-submitted-image > input[type=file]::-webkit-file-upload-button:hover {
  background: #FFFFFF;
  border: 0.2rem solid #FF00E6;
  color: #FF00E6;
}
.usp-submit {
  background: #FF00E6;
  border: 0.2rem solid #FFFFFF;
  padding: 0.9rem;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 100%;
  transition: 0.2s all;
}
.usp-submit:hover {
  background: #FFFFFF;
  border: 0.2rem solid #FF00E6;
  color: #FF00E6;
}

.post-12 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
}
.post-12 h2 {
  font-weight: 700;
  border-bottom: 0.1rem solid #F1F1F1;
  margin-bottom: 1rem;
}
.post-12 > div > div > div > div > div > p > strong {
  font-weight: 700;
  margin-top: 2rem;
}
.post-12 > div > div:nth-child(2) > p > strong {
  font-weight: 700;
  margin-top: 2rem;
}
.post-12 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main__contact {
  width: 100%;
}
.main__contact > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 2rem;
  font-size: 110%;
}

.contact__telephone {
  background: #000000;
  color: #FFFFFF;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__telephone > div {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  width: 100%;
}

.fa-phone {
  color: #FF00E6;
}

.fa-envelope {
  color: #FF00E6;
}

.post-10 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.post-10 .post__title {
  display: none;
}
.post-10 .post__content {
  width: 100%;
}

.about__heading {
  position: relative;
}

.about__image {
  width: 100%;
  height: 35rem;
}
.about__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__title {
  position: absolute;
  bottom: 0;
  left: 15%;
  font-size: 300%;
}

.main__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;
}

.about {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 4rem;
}
.about__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.about__article--information {
  font-size: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about__article--information:nth-child(3) {
  font-weight: 600;
}

.footer {
  background: #000000;
  color: #FF00E6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 8rem;
}
.footerWrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.widget-container p {
  width: 50rem;
}

body, html {
  height: 100%;
  margin: 0;
}

.screensaver {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.screensaver img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
